$primary-font: 'BrownStd-Regular', sans-serif;
$secondary-font: 'Portrait-MediumItalic' sans-serif;
$main-text-color: white;
$secondary-text-color: rgb(29, 149, 165);

@font-face {
  font-family: 'BrownStd-Regular';
  src: url(../assets/fonts/BrownStd-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Portrait-MediumItalic';
  src: url(../assets/fonts/Portrait-MediumItalic.woff) format('woff');
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  font-family: $primary-font;
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  div {
    display: flex;
    flex-direction: column;
  }
}

.logo {
  padding: 20px;
  img {
    width: 100%;
  }
}

.form {
  margin-top: 40px;
}

.input-form {
  height: 55px;
  width: 320px;
  font-size: 18px;
  border-radius: 3px;
  border: none;
  font-family: 'Portrait-MediumItalic', sans-serif;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 110px;
  margin: auto -10px;
}

.input-btn {
  height: 40px;
  width: 100px;
  background: rgb(39, 117, 128);
  color: $main-text-color;
  border: none;
  border-radius: 3px;
  font-size: 14px;

  margin-left: -100px;

  &:hover {
    opacity: 0.9;
  }
}

.post-message {
  margin-top: 20px;
}

.content-date {
  margin: 10px;
  color: $secondary-text-color;
}

.headers-container {
  display: flex;
  justify-content: space-between;
}

.headers-icon {
  height: 40px;
  width: 90px;
  margin: 25px 40px;
  background: rgba(238, 238, 238, 0.568);

  border: none;
  border-radius: 14px;

  color: $main-text-color;
  font-size: 14px;

  &:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: url(../assets/background/bg-mobile.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (min-width: 601px) {
  body {
    background: url(../assets/background/bg-720.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    background: url(../assets/background/bg-1440.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (min-width: 2440px) {
  body {
    background: url(../assets/background/bg-2440.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
